.swiper-pagination {
  position: absolute;
  text-align: bottom !important;
  bottom: -10px !important;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  display: none !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 30px);
  top: 90%;
  right: left !important;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  left: var(--swiper-navigation-sides-offset,110px);
  top: 90%;
}
